
*{
    box-sizing: border-box;
}
.back::before{
   content: "BACK";
    transform: translateZ(-1px);
    display: block;
    background-color: blue;
}
.front::before{
    content: "FRONT";
    transform: translateZ(1px);
    background-color: #e30e0e;
    display: block;
}

.box{
    width: auto;

    height: 740px;
    /*border: 1px solid black;*/
    position: relative;
    animation-iteration-count: infinite;
    animation-name: box;
    animation-duration: 16s;
    transform-style: preserve-3d;
}
.front{
    height: 200px;
    width: 200px;
    background: #e30e0e;
    position: relative;
    margin: 0 auto;
    top: 200px;
    text-align: center;
    font-size: 60px;
    transform: translateZ(60px);
    animation-iteration-count: infinite;
    animation-name: front;
    animation-duration: 16s;
    animation-timing-function: linear;
    transform-style: preserve-3d;
}
.back{
    height: 200px;
    width: 200px;
    background: blue;
    position: relative;
    margin: 0 auto;
    text-align: center;
    font-size: 60px;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: back;
    animation-duration: 16s;
    transform-style: preserve-3d;
}

@keyframes box {
    0%{
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(360deg);
    }
}

@keyframes back {
    from{
        transform: rotatez(360deg);
    }
    to{
        transform: rotatez(0deg);
    }
}
@keyframes front{

    from{
        transform: rotatez(0deg) translateZ(50px);
    }
    to{
        transform: rotatez(360deg) translateZ(50px);

    }
}